.row{
  width: 80%; 
  margin-left: auto; 
  margin-right :auto;
}
@media(max-width: 768px){
  .row{
    width: 100%; 
    margin-top: 10%;
  }
  .card .card-text .text-muted{
    width:200%;
    height: 20%;
    margin-left: auto;
    margin-right: auto;
  }
}