
.row{
  width: 60%; 
  margin-left: auto; 
  margin-right :auto;
}
@media(max-width: 412px){
  h1{
    margin-top: "90px";
  }
  .row{
    width: 100%; 
    margin-top: 20%;
  }
  .card .card-text .text-muted{
    /* background-color: brown; */
    width:200%;
    height: 30%;
    margin-left: auto;
    margin-right: auto;
  }
}